// Color Declaration
// Add this to your variables.scss file.

$black: #03252f;
$blue: #034d93;
$indigo: #38268d;
$purple: #aba0da;
$pink: #7f325a;
$red: #e07186;
$orange: #eb9b51;
$yellow: #c28e16;
$green: #479f73;
$teal: #12745f;
$cyan: #0d606f;

// Theme Colors
$primary: $orange;
$secondary: color.adjust($primary, $hue: color.hue($primary)+360/3, $saturation: - color.saturation($primary) * 0.75, $lightness: - color.lightness($primary) * 0.25 );

$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$dark: rgb(22, 70, 83);
