// Color Declaration
// Add this to your variables.scss file.

$black: #03252f;
$blue: #034d93;
$indigo: #38268d;
$purple: #aba0da;
$pink: #7f325a;
$red: #e07186;
$orange: #f6aa37;
$yellow: #c28e16;
$green: #479f73;
$teal: #12745f;
$cyan: #0d606f;

// Theme Colors
$primary: $orange;
$secondary: $teal;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$dark: rgb(22, 70, 83);
