// .night .card.shadow {
//   // box-shadow: inset 1px 1px 0px 0px #ababab, 0px 3px 5px -1px #0e0e0e, 0px 8px 5px -4px #585858, 0px 9px 0px 0px #1a1a1a, 0px 0px 0px 0px #2b2c30 !important;
// }
//
//
// .night .bg-night {
//   // transition: background-color 1000ms ease-out;
//   background: $dark !important;
// }
// .night .text-night {
//   // transition: color 1000ms ease-out;
//   color: $light !important;
// }



.night {

  .bg-night {
    background: $dark !important;
    border-color: darken($dark, 3%) !important;
  }
  hr {
    border-top-color: darken($dark, 3%) !important;
  }

  .bg-night.progress {
    background: darken($dark, 5%) !important;
    .progress-bar {
      background: lighten($dark, 5%) !important;
    }

  }

  .btn {
    background: lighten($dark, 3%) !important;
    border-color: lighten($dark, 8%) !important;
  }
  .btn .disabled {
    background: darken($dark, 0.5%) !important;
    border-color: darken($dark, 0.5%) !important;
  }

  .text-night {
    color: $gray-500 !important;
  }

  a.text-night  {
    color: $blue !important;
  }

  a.text-night.disabled  {
    color: $gray-600 !important;
  }

  .active > a.text-night  {
    color: $cyan !important;
  }

}
