$daw-form-table-header-cell-color: $gray-400;
$daw-form-table-header-cell-bg: $gray-700;
$daw-form-table-header-cell-active-color: $primary;

$daw-form-table-row-color: $gray-400;
$daw-form-table-row-bg: $gray-700;

$daw-form-table-cell-color: $gray-400;
$daw-form-table-cell-bg: $gray-700;
$daw-form-table-cell-active-color: $primary;

$daw-form-table-cell-selector-bg: $gray-600;
$daw-form-table-cell-selector-active-bg: $primary;

.daw-form {
  user-select: none;
  border-radius: $border-radius-sm;
  background: $dark;
}

.daw-form-table-container {
  border-radius: $border-radius-sm;
}

.daw-form-table {
  border-radius: $border-radius-sm;
  margin-bottom: 0px !important;
  font-size: $small-font-size;
}

// Header Labels
.daw-form-table-header-cell {
  text-align: center;
  color: $daw-form-table-header-cell-color;
  background: $daw-form-table-header-cell-bg;
  &.selectable {
    cursor: pointer;
  }
  &.active {
    color: $daw-form-table-header-cell-active-color;
  }

}

// Cell and Row Sections
.daw-form-table-cell {
  color: $daw-form-table-cell-color;
  background: $daw-form-table-cell-bg;
  &.selectable {
    cursor: pointer;
  }
  &.active {
    color: $daw-form-table-cell-active-color;
  }

}

// Row Wide Styling
.daw-form-table-row {
  color: $daw-form-table-row-color;
  background: $daw-form-table-row-bg;
}

// Sound Activation Cell
.daw-form-table-cell-selector {
  display: inline-block;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: $border-radius-sm;
  background: $daw-form-table-cell-selector-bg;
  &.selectable {
    cursor: pointer;
  }
  &.active {
    background: $daw-form-table-cell-selector-active-bg;
  }
}
