// Color Declaration
// Add this to your variables.scss file.

$black: #03252f;
$blue: #034d93;
$indigo: #38268d;
$purple: #c2a6e3;
$pink: #7f325a;
$red: #9e606c;
$orange: #f19060;
$yellow: #c28e16;
$green: #16633c;
$teal: #12745f;
$cyan: #0d606f;

// Theme Colors
$primary: $orange;
$secondary: $purple;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$dark: rgb(22, 70, 83);
